{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'book-detail.css' %}">
</head>
<div class="page">
    <div class="header">
        <h2>{{ book.name }}</h2>
    </div>
    <div class="book">
        <div class="title">
            <h1>Title: {{ book.name }}</h1>
        </div>
        <p class="author">Author: {{ book.author }}</p>
        <p class="description">Description: {{ book.description }}</p>
        <!-- Other fields as needed -->
    </div>
</div>
{% endblock %}