<!-- index.html -->
{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAi - Your Intelligent Book Assistant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <!-- Display the form -->
    <h1>Welcome to BookAi</h1>

        <!-- Check if the user is authenticated and display their username -->
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
    {% else %}
        
    {% endif %}


    <div class="rectangle">
        Your long text goes here. 
    </div>
    

    
    <div class="button-container">
        <div class="login-button">
            <button id="loginBtn">Login</button>
        </div>
        <div class="register-button">
            <button id="registerBtn">Register</button>
        </div>
        {% if user.is_authenticated %}
        <div class="logout-button">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        
        {% endif %}
    </div>
    
    


        <form id="recommendationForm" method="POST" data-url="{% url 'recommended_books' %}">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %} 
            <label for="recent_reads">Books or authors you've recently enjoyed:</label><br>
            <input type="text" id="recent_reads" name="recent_reads" placeholder="Recent Reads"><br>
            <label for="desired_feeling">How you want to feel with your next book:</label><br>
            <input type="text" id="desired_feeling" name="desired_feeling" placeholder="Desired Feeling"><br>
            <label for="character_plot_preferences">Preferences for characters and plot:</label><br>
            <input type="text" id="character_plot_preferences" name="character_plot_preferences" placeholder="Character/Plot Preferences"><br>
            <label for="pacing_narrative_style">Your pacing and narrative style preferences:</label><br>
            <input type="text" id="pacing_narrative_style" name="pacing_narrative_style" placeholder="Pacing/Narrative Style"><br>
            <button type="submit" name="action" value="by_answers">Get Book Recommendations</button>
        </form>
        

    <div class="quick-recommendation">
        <h2>Quick Book Recommendation</h2>
        <p>Don't want to answer questions? Let us surprise you with a book recommendation based on your curated book personality!</p>
        <form method="POST" action="{% url 'recommended_books' %}">
            {% csrf_token %}
 
            <button type="submit", name="action", value="by_personality">Surprise Me!</button>
        </form>
    </div>
    


    <div id="bookColumns" class="book-columns">
        <div id="column1" class="book-column"></div>
        <div id="column2" class="book-column"></div>
    </div>
    

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Text for Result -->
    <p id="resultText"></p>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

     <!-- Register Modal -->
     <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close-register">&times;</span>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username-register">Username:</label>
                    <input type="text" id="username-register" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email-register">Email:</label>
                    <input type="email" id="email-register" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password-register">Password:</label>
                    <input type="password" id="password-register" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
        </div>
    </div>

    <body data-get-read-books-url="{% url 'get_read_books' %}"></body>


    <div class="read-books-container" id="readBooksList">
        <!-- Books will be loaded here by JavaScript -->
    </div>
    

    <!-- Loading spinner -->
    <div id="loading" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100;">
        <div class="loader">Loading...</div>
    </div>

    <script src="{% static 'scripts.js' %}"></script>

</body>
</html>
{% endblock %}