
{% extends 'main.html' %}
{% load static %} <!-- Load the static tag at the top of the template -->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendations</title>
    <link rel="stylesheet" href="{% static 'reco_books.css' %}">
</head>
<body>
    <div class="container">
        {% if books %}

            <h2 class="header">Recommended Books</h2>
            <a href="{% url 'projects' %}" onclick="goBack()">Go Back</a>

                <script>
                function goBack() {
                $.ajax({
                    url: "{% url 'projects' %}",
                    success: function(response) {
                    $('#content').html(response);
                    }
                });
                event.preventDefault(); 
                }
                </script>
            <!-- TODO: fix the layout -->
            <div> {{ greeting_message }}</div>
            <div> {{text_after_recommendations}}</div>
            <div class="books-list">
                {% for book in books %}
                    <div class="book">
                        <h3 class="title">{{ book.name }}</h3>

                        <!-- Display image -->
                        {% if book.featured_image_url %}
                            <img src="{{ book.featured_image_url }}" alt="Cover image for {{ book.name }}">
                        {% else %}
                            <p>No cover image available.</p>
                        {% endif %}

                        <p class="author"><strong>Author:</strong> {{ book.author }}</p>
                        <p class="votes"><strong>Total Votes:</strong> {{ book.total_votes }}</p>
                        <p class="ratio"><strong>Vote Ratio:</strong> {{ book.vote_ratio }}</p>
                        <p class="published_year"><strong>Published Year:</strong> {{ book.published_year }}</p>
                        <p class="description"><strong>Description:</strong> {{ book.description }}</p>
                        <a href="{% url 'book-detail' book.id %}">{{ book.name }}</a>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-books">No books found. Try searching again.</p>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}