@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root {
  --maincolor: #4CAF50;
  --navbarcolor: #222222;
  --hover: rgb(9, 123, 143);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease;
}

header .fa-bars {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

header .fa-xmark {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 3px 3px 5px 6px #ccc;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  margin-top: 1px;
}


header .selected {
  display: flex;
  position: absolute;
  background-color: rgb(162, 162, 162);
  width: 98vw;
  height: 50vw;
  top: 15rem;
  left: 0;
  z-index: 1;
  text-align: center;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  padding-top: 10px;
  margin: 0;
  gap: 1rem;
  
}

header .selected ul {
  flex-direction: column;
  margin: 0;
}

header .links ul {
  display: flex;
  gap: 3rem;
  margin-left: 5rem;
}

header .links ul li {
  list-style: none;
}

header .links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
}

header .links ul li .active {
  background-color: #4CAF50;
  padding: 2rem 2rem;
}

header .links ul li a:hover {
  color: var(--hover);
}

header .links ul li a .active:hover {
  background-color: var(--hover);
}


.headerlogo {
  height: 6rem;
  border-radius: 50%;
  margin-top: 2px;  
  margin-bottom: 2px;
  display: flex;
  padding: .1rem 1rem;
}

.headerlogo:hover {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.login-button button,
.register-button button,
.logout-button button {
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--navbarcolor);
  border-radius: 4px;
  transition: background-color 0 .3s, color 0.3s;
  border: 2px solid #4CAF50;
}

.login-button button:hover,
.register-button button:hover,
.logout-button button:hover {
  background-color: #3c8b3f;
  border: 2px solid #3c8b3f;
  color: white;
  
}


.title h2 {
  font-size: 24px;
}

.other p {
  font-size: 14px;
  color: #555;
}

footer .container {
  display: flex;
  flex-direction: row;
  padding: 0px 100px;
  text-align: left;
  gap: 100px;
  background-color: rgb(34, 34, 34);
}

footer .container .section1 {
  display: flex;
  align-items: center;
}

footer .container .section1 a {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 20px;
}

footer .container .section1 a:hover {
  text-decoration: underline;
  color: rgb(110, 110, 110);
}

footer .container .section2 {
  display: flex;
  gap: 50px;
  margin-left: 50px;
}

footer .container .section2 .box .heading h3 {
  color: white;
}

footer .container .section2 .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .container .section2 .box .links {
  display: flex;
  flex-direction: column;
}

footer .container .section2 .box .links a {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 15px;
}

footer .container .section2 .box .links a:hover {
  text-decoration: underline;
  color: rgb(111, 110, 110);
}

footer .container .section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

footer .container .section3 .icons {
  display: flex;

}

footer .container .section3 .icons i {
  font-size: 36px;
  margin: 0px 20px;
  color: white;
}

footer .container .section3 .about p {
  color: #8f8f8f;
  padding-bottom: 2rem;
}

.cr {
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.cr h4 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: white;
}

.cr p {
  font-size: 0.7rem;
  margin:0;
  padding: 0 ;
  color: white;
  margin-top: 28px;
}


@media (max-width: 1250px) {
  header .links ul li a {
    font-size: 1.2rem;
  }

  header .links ul {
    gap: 1.2rem;
  }

  .logo {
    padding: .3rem 0rem;
  }

  .logo a img {
    height: 5rem;
  }
}

@media (max-width: 820px) {

  .login-button button,
  .register-button button,
  .logout-button button {
    display: none;
  }

  header {
    padding: 1rem .5rem;
  }

  header .links ul {
    gap: .7rem;
    margin-left: 0rem;
  }

  header .links ul li a {
    font-size: 1rem;
  }

  header .fa-bars {
    display: inline-block;
  }

  header .links ul li .active {
    background-color: #4CAF50;
    padding: 1.3rem 1.3rem;
  }

  footer .container {
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
    gap: 50px;
    background-color: rgb(34, 34, 34);
  }

  footer .container .section1 .links {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  footer .container .section2 {
    display: flex;
    gap: 40px;
    margin: auto
  }

  footer .container .section2 .box .links {
    display: flex;
    flex-direction: column;
  }

  footer .container .section3 {
    padding: 0rem;
  }

  footer .container .section3 .icons {
    margin: auto;
  }

  footer .container .section3 .icons i{
    font-size: 30px;
  }

  footer .container .section3 .about {
    width: 100%;
  }

}

.abouttext{
  font-size: 15px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ebdbbc;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Default width */
  max-width: 400px; /* Maximum width */
  font-size: 16px;
  box-sizing: border-box;
}

/* The Close Button */
.close, .close-register {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus,
.close-register:hover, .close-register:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form group styles */
.form-group {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group_button button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group_button button:hover {
  background-color: #45a049;
}

/* Specific adjustments for login form */
.form-group_username,
.form-group_password,
.form-group_rememberme,
.form-group_button {
  max-width: 100%;
  margin: 0 auto;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .modal-content {
      width: 95%; /* Slightly narrower for small screens */
      font-size: 14px; /* Slightly smaller font size */
  }

  .form-group input {
      font-size: 14px; /* Slightly smaller input text size */
  }

  .form-group_button button {
      font-size: 18px; /* Slightly smaller button text size */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .modal-content {
      width: 80%; /* Adjust width for tablet screens */
  }
}

.link1,
.link2,
.link3 {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}
