<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAi - Your Intelligent Book Assistant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'title.css' %}">
</head>
<body>
    <header>
      <a href="{% url 'projects' %}">
          <img src="{% static 'imagies/logo.jpg' %}" alt="Logo">
          </a>
    </header>

    {% block content %}
    <!-- The content of your specific page will go here -->
    {% endblock %}

    <footer>
        <div class="container">
            <div class="section1">
                <div class="logo">
                    <img src="logo.jpg" alt="">
                </div>
                <div class="links">
                    <a href="#">Home</a>
                    <a href="#">Log-in</a>
                    <a href="#">Registeer</a>
                </div>
            </div>
            <div class="section2">
                <div class="box">
                    <div class="heading">
                        <h3>Links</h3>
                    </div>
                    <div class="links">
                        <a href="#">Lorem</a>
                        <a href="#">Lorem.</a>
                        <a href="#">Lorem.</a>
                    </div>
                </div>
                <div class="box">
                    <div class="heading">
                        <h3>Links</h3>
                    </div>
                    <div class="links">
                        <a href="#">Lorem.</a>
                        <a href="#">Lorem.</a>
                        <a href="#">Lorem.</a>
                    </div>
                </div>
            </div>
            <div class="section3">
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                </div>
                <div class="about">
                    <p>Lorem isum dolorr sit amet consectetur adipisicing elit. Cupiditate ad exercitationem quo possimus accusamus explicabo aliquid distinctio quibusdam nemo delectus porro, quis vitae nostrum reiciendis architecto neque provident, corporis commodi.</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
